openapi: 3.0.0
info:
  title: eTradev4 API
  version: 1.0.0
  description: |-
    This API specification is meant to be used by the eTradev4 Frontend.
servers:
  - url: https://api-sbx.etrade.net.ph
    description: sandbox
  - url: https://api.etrade.net.ph
    description: production
tags:
  - name: manifest
    description: Everything about Manifest
paths:
  /create_manifest:
    post:
      tags:
        - manifest
      summary: Create manifest(AF, AL, SF, SL)
      description: |-
        Called during clicking create manifest button
      operationId: manifest_creation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManifestRequest'
      responses:
        '201':
          description: Manifest successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManifestResult'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestBody'
        '401':
          description: Unauthorized Request
        '409':
          description:  request conflicts with the current state of the server
  /update_manifest/${id}:
    post:
      tags:
        - manifest
      summary: Update manifest(AF, AL, SF, SL)
      parameters:
        - name: id
          in: path
          required: true
          description: manifest id
          schema:
            type : string
      description: |-
        Called during clicking update manifest button
      operationId: manifest_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateManifestRequest'
      responses:
        '201':
          description: Manifest successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateManifestResult'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestBody'
        '401':
          description: Unauthorized Request
        '409':
          description:  request conflicts with the current state of the server
  /get_manifest/${id}:
    post:
      tags:
        - manifest
      summary: Update manifest(AF, AL, SF, SL)
      parameters:
        - name: id
          in: path
          required: true
          description: manifest id
          schema:
            type : string
      description: |-
        Called during clicking update manifest button
      operationId: manifest_update
      responses:
        '201':
          description: Manifest successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateManifestRequest'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestBody'
        '401':
          description: Unauthorized Request
        '409':
          description:  request conflicts with the current state of the server
  /get_manifest:
    get:
      tags:
        - manifest
      summary: Get all manifest(AF, AL, SF, SL)
      description: |-
        Called by the frontend to be able to display a list of manifests
      operationId: get_all_manifests
      security:
        - BearerAuth: []
      parameters:
        - name: pageSize
          in: query
          required: false
          description: Number of results per page
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of manifests with pagination information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedManifestsResult'
        '401':
          description: Unauthorized Request
        '404':
          description: Manifests Not Found

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CreateManifestRequest:
      type: object
      properties:
        registryNo:
          description: unique registry number
          type: string
          example: "123456"
        flightNo:
          description: flight number
          type: string
          example: "FL123"
        customsOffice:
          description: customs office id
          type: string
          example: "1"
        masterAwb:
          description: unique masterawb
          type: string
          example: "AWB123456789"
        placeOfDeparture:
          description: place of departure id
          type: string
          example: "2"
        placeOfDestination:
          description: place of destination id
          type: string
          example: "3"
        paymentAccount:
          description: payment account id
          type: string
          example: "4"
    CreateManifestResult:
      type: object
      properties:
        registryNo:
          description: unique registry number
          type: string
          example: "123456"
        masterAwb:
          description: unique masterawb
          type: string
          example: "AWB123456789"
        statusCode:
          type: string
          description: return code
          example: "200"
        message:
          type: string
          description: human readable message
          example: "Manifest Successfully Created"
        date_created:
          description: timestamp
          type: string
          format: date-time
      required:
        - registryNo
        - flightNo
        - customsOffice
        - masterAwb
        - placeOfDeparture
        - placeOfDestination
        - paymentAccount
    UpdateManifestRequest:
      type: object
      properties:
        id:
          description: manifest id
          type: string
          example: "123456"
        registryNo:
          description: unique registry number
          type: string
          example: "123456"
        flightNo:
          description: flight number
          type: string
          example: "FL123"
        customsOffice:
          description: customs office id
          type: string
          example: "1"
        masterAwb:
          description: unique masterawb
          type: string
          example: "AWB123456789"
        placeOfDeparture:
          description: place of departure id
          type: string
          example: "2"
        placeOfDestination:
          description: place of destination id
          type: string
          example: "3"
        paymentAccount:
          description: payment account id
          type: string
          example: "4"
    UpdateManifestResult:
      type: object
      properties:
        registryNo:
          description: unique registry number
          type: string
          example: "123456"
        masterAwb:
          description: unique masterawb
          type: string
          example: "AWB123456789"
        statusCode:
          type: string
          description: return code
          example: "200"
        message:
          type: string
          description: human readable message
          example: "Manifest Successfully Updated"
        date_created:
          description: timestamp
          type: string
          format: date-time
      required:
        - registryNo
        - flightNo
        - customsOffice
        - masterAwb
        - placeOfDeparture
        - placeOfDestination
        - paymentAccount
    InvalidRequestBody:
        type: object
        properties:
          request_body:
            type: array
            items:
              $ref: '#/components/schemas/CreateManifestRequest'
          timestamp:
            description: timestamp
            type: string
            format: date-time
          code:
            type: string
            description: returnCode
            example: "400"
          message:
            type: string
            description: human readable message
            example: "Invalid Request Body"
    PaginatedManifestsResult:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CreateManifestRequest'
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 10
        hasNextPage:
          type: boolean
          example: true