openapi: 3.0.0
info:
  title: eTradev4 API
  version: 1.0.0
  description: |-
    This API specification is meant to be used by the eTradev4 Frontend.
servers:
  - url: https://api-sbx.etrade.net.ph
    description: sandbox
  - url: https://api.etrade.net.ph
    description: production
tags:
  - name: manifest
    description: Everything about Manifest
paths:
  /create_manifest:
    post:
      tags:
        - manifest
      summary: Create manifest(AF, AL, SF, SL)
      description: |-
        Called during clicking create manifest button
      operationId: manifest_creation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManifestRequest'
      responses:
        '201':
          description: Manifest successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManifestReseult'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestBody'
        '401':
          description: Unauthorized Request
        '409':
          description:  request conflicts with the current state of the server
    get:
      tags:
        - manifest
      summary: Get all manifest(AF, AL, SF, SL)
      description: |-
        Called by the frontend to be able to display a list of manifests
      operationId: get_all_manifests
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: true
          description: status of the activation request
          schema:
            type: string
            enum:
              - pending
              - accepted
              - rejected
        - name: page
          in: query
          required: false
          description: Page number of the results to fetch
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of results per page
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of activation requests with pagination information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivationRequestResult'
              examples:
                pendingExample:
                  $ref: '#/components/examples/ActivationRequestListPendingExample'
                acceptedExample:
                  $ref: '#/components/examples/ActivationRequestListAcceptedExample'
                rejectedExample:
                  $ref: '#/components/examples/ActivationRequestListRejectedExample'
        '401':
          description: Unauthorized Request
        '404':
          description: Activation Request Not Found
